@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic);
html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.wrap {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

a {
	color: #d3142b;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 65px;
	font-weight: normal;
	margin: 0;
}

input,
select,
[type=submit] {
	-webkit-appearance: none;
	-moz-appearance: none;
}

header {
	width: 100%;
	height: 53px;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	z-index: 3;
	text-align: right;
	}
	header .mobile {
		display: none;
	}
	header .logo {
		height: 100%;
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
		padding-top: 5px;
		box-sizing: border-box;
	}
	@media screen and (max-width: 860px) {
		header .logo {
			display: none;
		}
	}
	header a {
		display: inline-block;
		color: #fff;
		font-size: 14px;
		text-decoration: none;
		line-height: 53px;
		text-transform: uppercase;
		padding: 0 15px;
		position: relative;
	}
	header a:hover {
		background: rgba(255, 255, 255, 0.2);
	}
	header a[data-discount]:after {
		content: attr(data-discount);
		background: #d3142b;
		color: #fff;
		position: absolute;
		top: 4px;
		right: 4px;
		line-height: normal;
		font-size: 10px;
		text-transform: initial;
		padding: 1px 4px;
		border-radius: 3px;
	}
	@media screen and (max-width: 670px) {
		header nav {
			display: block;
		    position: fixed;
		    bottom: 0;
		    top: 53px;
		    overflow: auto;
		    background: rgba(0, 0, 0, 0.6);
		    width: 100%;
			display: none;
			}
			header nav a {
				display: block;
				text-align: left;
			}
			header nav a[href="#book"] {
				display: none;
			}
		body.menu-opened {
			overflow: hidden;
			}
			body.menu-opened header nav {
				display: block;
			}
		header .mobile {
			display: block;
			}
			header .mobile [href="#menu"] {
				float: left;
				line-height: 36px;
			}
			body.menu-opened .mobile [href="#menu"] {
				background: rgba(255, 255, 255, 0.2);
			}
			header .mobile [href="#menu"] img {
				width: 30px;
				height: 30px;
				margin-top: 10px;
			}
	}

.promo {
    height: 100%;
    position: relative;
    background: #d3142b;
	}
	.promo .item {
		background: #d3142b bottom;
    	background-size: cover;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		transition: opacity 0.5s;
		color: #fff;
		text-align: center;
		}
		.promo .item:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
		.promo .item.selected {
			z-index: 1;
			opacity: 1;
		}
		.promo .item .item-wrap {
			display: inline-block;
			vertical-align: middle;
			}
			.promo .item .title {
				font-size: 75px;
			}
			.promo .item .title+.text {
				margin-top: 20px;
			}
			.promo .item .text {
				font-size: 36px;
			}
	.promo .prev {
		background: url(i/arrow-left.svg) no-repeat center;
		width: 10%;
		min-width: 50px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		background-size: 30px;
		opacity: 0.8;
		cursor: pointer;
		z-index: 1;
	}
	.promo .next {
		background: url(i/arrow-right.svg) no-repeat center;
		width: 10%;
		min-width: 50px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		background-size: 30px;
		opacity: 0.8;
		cursor: pointer;
		z-index: 1;
	}
	.promo .prev:hover,
	.promo .next:hover {
		opacity: 1;
	}

.karting {
	background: #d3142b;
	color: #fff;
	display: table;
	width: 100%;
	}
	.karting>* {
		display: table-cell;
	}
	.karting-text {
		width: 50%;
		padding: 30px 60px;
		}
		.karting-text ol {
			list-style: none;
			counter-reset: karting;
			margin-top: 50px;
			}
			.karting-text ol li:before {
				counter-increment: karting;
				content: counter(karting);
				font-size: 40px;
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				border: 3px solid;
				border-radius: 50%;
				width: 50px;
				height: 50px;
				text-align: center;
			}
			.karting-text ol li {
				font-size: 16px;
				padding-left: 80px;
				position: relative;
				min-height: 65px;
				padding-top: 9px;
				margin: 15px 0;
			}
	.karting-image {
		background: url(img/karting.jpg) center left;
		background-size: cover;
	}
	@media screen and (max-width: 630px) {
		.karting {
			background: url(img/karting.jpg) center;
			background-size: cover;
			}
			.karting-image {
				display: none;
			}
			.karting-text {
				background: rgba(43, 45, 47, 0.65);
				padding: 20px;
				font-size: 14px;
			}
	}

.cafe {
    background: #2b2d2f;
    color: #fff;
    display: table;
    width: 100%;
    min-height: 400px;
	}
	.cafe>* {
		display: table-cell;
	}
	.cafe-text {
		width: 50%;
		padding: 30px 60px;
		}
		.cafe-text a {
			width: 230px;
			margin: 0 auto;
			display: block;
			text-align: center;
			background: #d3142b;
			color: #fff;
			text-decoration: none;
			padding: 10px;
			margin-top: 40px;
			border-radius: 3px;
		}
		.cafe-text a:hover {
			opacity: 0.9;
		}
	.cafe-image {
		background: url(img/cafe.jpg) center left;
		background-size: cover;
	}

	@media screen and (max-width: 630px) {
		.cafe {
			background: url(img/cafe.jpg) center;
			background-size: cover;
			min-height: initial;
			display: block;
			}
			.cafe-image {
				display: none;
			}
			.cafe-text {
				background: rgba(43, 45, 47, 0.65);
				padding: 20px;
				font-size: 14px;
				display: block;
				width: auto;
			}
			.cafe-text a {
				margin-top: 20px;
			}
	}

.actions {
	background: #ccc;
	text-align: center;
	font-size: 50px;
	color: #fff;
	position: relative;
	background-size: cover;
	background-position: center;
	position: relative;
	transition: background 0.5s;
	height: 350px;
	}
	.actions:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6);
	}
	.actions .wrap {
		height: 100%;
	}
	.actions .item {
		font-size: 0;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		transition: opacity 0.3s;
		}
		.actions .item.selected {
			z-index: 1;
			opacity: 1;
		}
		.actions .item:after {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		.actions .item-wrap {
			font-size: 18px;
			position: relative;
			z-index: 1;
			display: inline-block;
			vertical-align: middle;
			max-width: 600px;
			padding: 0 50px;
			box-sizing: border-box;
			}
			.actions .item-wrap h4 {
				font-size: 30px;
				margin: 0;
				line-height: 50px;
			}
			.actions .item-wrap h4+text {
				margin-top: 20px;
			}
		.actions .prev {
			background: url(i/arrow-left.svg) no-repeat center;
			width: 10%;
			min-width: 50px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			background-size: 30px;
			opacity: 0.8;
			cursor: pointer;
			z-index: 1;
		}
		.actions .next {
			background: url(i/arrow-right.svg) no-repeat center;
			width: 10%;
			min-width: 50px;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			background-size: 30px;
			opacity: 0.8;
			cursor: pointer;
			z-index: 1;
		}
		.actions .prev:hover,
		.actions .next:hover {
			opacity: 1;
		}
		.actions nav {
			position: absolute;
			bottom: 90px;
			left: 0;
			right: 0;
			z-index: 1;
			height: 0;
			}
			.actions nav span {
				background: #fff;
				width: 20px;
				height: 20px;
				display: inline-block;
				border-radius: 50%;
				opacity: 0.3;
				cursor: pointer;
				}
				.actions nav span.selected {
					opacity: 0.7;
				}
	@media screen and (max-width: 630px) {
		.actions .item-wrap h4 {
			font-size: 20px;
			line-height: 29px;
		}
	}

.cert {
	text-align: center;
	padding: 30px;
	}
	.cert-text {
		margin: 15px 0;
		font-size: 28px;
		margin-bottom: 50px;
	}
	.cert img {
		width: 320px;
		margin-right: 40px;
		box-shadow: 0 0 5px #aaa;
	}
	.cert-wrap {
		display: inline-block;
		width: 410px;
		vertical-align: top;
		text-align: left;
		}
		.cert-wrap a {
			width: 230px;
			margin: 0 auto;
			display: block;
			text-align: center;
			background: #d3142b;
			color: #fff;
			text-decoration: none;
			padding: 10px;
			margin-top: 40px;
			border-radius: 3px;
		}
		.cert-wrap a:hover {
			opacity: 0.9;
		}
	@media screen and (max-width: 630px) {
		.cert {
			padding: 20px;
			}
			.cert-text {
				font-size: 14px;
				margin-bottom: 20px;
			}
			.cert img {
				width: 100%;
				margin: 0;
			}
			.cert-wrap {
				font-size: 14px;
				width: auto;
				text-align: center;
			}
	}

.news {
	background: #2b2d2f;
    color: #fff;
    text-align: center;
    display: table;
    width: 100%;
    text-align: center;
	}
	.news>* {
		display: table-cell;
	}
	.news-text {
    	padding: 30px;
		width: 50%;
	}
	.news-text #vk_news {
		margin: 30px auto;
	}
	.news-image {
		background: url(img/news.jpg) center left;
		background-size: cover;
	}
	.news .item {
		width: 270px;
		display: inline-block;
		vertical-align: top;
		padding: 25px;
		display: none;
		}
		.news .item time {
			font-size: 30px;
			display: block;
			margin: 20px 0;
		}
		.news .item a {
			font-size: 20px;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			display: block;
			margin: 20px 0;
		}
		.news .item .text {
			font-size: 14px;
		}
	@media screen and (max-width: 630px) {
		.news {
			background: url(img/price.jpg) center;
			background-size: cover;
			}
			.news h3 {
				font-size: 25px;
			}
			.news-image {
				display: none;
			}
			.news-text {
				background: rgba(43, 45, 47, 0.65);
				padding: 20px;
			}
	}

.photos {
	font-size: 0;
	}
	.photos a {
		display: inline-block;
		width: 25%;
		position: relative;
		overflow: hidden;
		}
		.photos a:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #d3142b;
			opacity: 0.2;
			z-index: 1;
		}
		.photos a:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(43, 45, 47, 0.882353) url(i/zoom.svg) center no-repeat;
			background-size: 40px;
			opacity: 0;
			transition: opacity 0.5s;
			z-index: 1;
		}
		.photos a:hover:after {
			opacity: 1;
		}
		.photos .image {
			height: 200px;
			background-position: center;
			background-size: cover;
			background-color: rgba(211, 20, 43, 0.15);
			transition: transform 0.5s;
			}
			.photos a:hover .image {
				transform: scale(1.2);
			}
	@media screen and (max-width: 630px) {
		.photos a {
			width: 50%;
		}
	}

.photos-view {
	position: fixed;
	background: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	z-index: 4;
	text-align: center;
	font-size: 0;
	}
	.photos-view:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	.photos-view .image {
		background: #1e1e1e url(i/loader.svg) center no-repeat;
		box-shadow: 0 0 5px #000;
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		width: 100%;
		max-width: 800px;
		max-height: 600px;
		cursor: pointer;
		}
		.photos-view .image:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		.photos-view .image img {
			max-width: 100%;
			max-height: 100%;
			vertical-align: middle;
		}
	.photos-view .prev {
		background: url(i/arrow-left.svg) no-repeat center;
		width: 10%;
		min-width: 50px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		background-size: 30px;
		opacity: 0.8;
		cursor: pointer;
	}
	.photos-view .next {
		background: url(i/arrow-right.svg) no-repeat center;
		width: 10%;
		min-width: 50px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		background-size: 30px;
		opacity: 0.8;
		cursor: pointer;
	}
	.photos-view .close {
		background: url(i/cross.svg) no-repeat center 25px;
		width: 10%;
		min-width: 50px;
		position: absolute;
		top: 0;
		bottom: 70%;
		right: 0;
		background-size: 20px;
		opacity: 0.8;
		cursor: pointer;
	}
	.photos-view .close:hover,
	.photos-view .prev:hover,
	.photos-view .next:hover {
		opacity: 1;
	}

.price {
    display: table;
    width: 100%;
    min-height: 400px;
    text-align: center;
	}
	.price>* {
		display: table-cell;
	}
	.price-text {
		width: 50%;
		padding: 30px 60px;
	}
	.price-image {
		background: url(img/price.jpg) center left;
		background-size: cover;
	}

	.price table {
		margin: 20px auto;
		}
		.price th {
			padding: 10px 0;
		}
		.price td {
			padding: 0 10px;
		}
		.price td:first-child {
			text-align: left;
		}
		.price td:last-child {
			color: #d3142b;
			text-align: right;
		}
		.price .note {
			font-size: 12px;
		}
	@media screen and (max-width: 630px) {
		.price {
			background: url(img/price.jpg) center;
			background-size: cover;
			}
			.price-image {
				display: none;
			}
			.price-text {
				background: rgba(255, 255, 255, 0.9);
				padding: 20px;
			}
	}

.faq {
	background: #2b2d2f;
	text-align: center;
	color: #fff;
	padding: 30px 60px;
	}
	.faq h3 {
		margin-bottom: 40px;
		}
		.faq h3 b {
			color: #ffc457;
		}
	.faq .item {
		max-width: 520px;
		margin: 20px auto 35px;
		text-align: left;
		}
		.faq .item .question {
			font-size: 24px;
		}
		.faq .item .answer {
			margin-top: 45px;
			background: #ffc457;
			padding: 27px 47px;
			color: #000;
			position: relative;
			font-size: 18px;
		}
		.faq .item .answer:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 100%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 28px 0 0 28px;
			border-color: transparent transparent transparent #ffc457;
		}

		.faq .item:last-child .answer {
			background: inherit;
			color: #fff;
			border: 1px solid;
			margin-top: 20px;
		}
		.faq .item:last-child .answer:before {
			display: none;
		}
	@media screen and (max-width: 630px) {
		.faq {
			padding: 20px;
			}
			.faq h3 {
				margin-bottom: 20px;
			}
			.faq .item .question {
				font-size: 17px;
			}
			.faq .item .answer {
				font-size: 14px;
				padding: 20px;
				margin-top: 30px;
			}
	}

.contacts {
    display: table;
    width: 100%;
    min-height: 400px;
	}
	.contacts>* {
		display: table-cell;
	}
	.contacts-text {
		width: 50%;
		padding: 30px 60px;
		text-align: center;
		}
		.contacts-text p {
			line-height: 43px;
			font-size: 20px;
		}
	.contacts-image {
		vertical-align: top;
	}
	@media screen and (max-width: 630px) {
		.contacts,
		.contacts-text,
		.contacts-image {
			display: block;
			width: auto;
		}
		.contacts-text {
			padding: 20px;
		}
		.contacts-text p {
			font-size: 14px;
			line-height: 23px;
		}
		.contacts-image {
			height: 300px;
		}
	}

footer {
	background: url(img/footer-bg.png);
	height: 20px;
}

.company-finder {
	background: #2b2d2f;
	color: #fff;
    display: table;
    width: 100%;
    min-height: 400px;
	}
	.company-finder>* {
		display: table-cell;
	}
	.company-finder h3 b {
		color: #ffc457;
	}
	.company-finder-text {
		width: 50%;
		padding: 30px 60px 80px;
		text-align: center;
		font-size: 24px;
		}
		.company-finder-text .text {
			margin-bottom: 50px;
		}
	.company-finder-image {
		background: url(img/company-finder.png) center;
		background-size: cover;
	}
	@media screen and (max-width: 630px) {
		.company-finder {
			background: url(img/company-finder.png) center;
			background-size: cover;
			display: block;
			min-height: initial;
			}
			.company-finder-image {
				display: none;
			}
			.company-finder-text {
				background: rgba(43, 45, 47, 0.65);
				padding: 20px 0;
				display: block;
				width: auto;
				padding-bottom: 40px;
			}
			.company-finder-text .text {
				font-size: 16px;
				margin-bottom: 25px;
			}
			.karting-text ol li {
				font-size: 14px;
				padding-top: 2px;
			}
	}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 3;
	text-align: center;
	font-size: 0;
	overflow: auto;
	display: none;
	}
	.popup:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	.popup form {
		vertical-align: middle;
		font-size: 14px;
		display: inline-block;
		width: 320px;
		text-align: left;
		background: #fff;
		padding: 20px 35px;
		box-sizing: border-box;
		position: relative;
		}
		.popup form .close {
			position: absolute;
			top: 15px;
			right: 15px;
			background: url(i/close.svg);
			width: 20px;
			height: 20px;
			background-size: cover;
			cursor: pointer;
		}
		.popup form .datepicker {
			margin: 0 auto;
		}
		.popup form label {
			display: block;
			min-height: 35px;
			line-height: 35px;
			font-size: 15px;
			color: #666;
			margin-top: 10px;
		}
		.popup form select {
			height: 35px;
			width: 65px;
			-webkit-appearance: none;
			-moz-appearance: none;
			padding: 0 10px;
			background: #fff;
			border: 1px solid #ccc;
			border-radius: 3px;
			cursor: pointer;
			font-size: 15px;
			font-family: Tahoma;
		}
		.popup form [type=text],
		.popup form [type=number] {
			display: block;
			width: 100%;
			height: 35px;
			box-sizing: border-box;
			padding: 0 10px;
			margin-bottom: 10px;
			border-radius: 3px;
			border: 1px solid #ccc;
			font-size: 15px;
			font-family: Tahoma;
		}
		.popup form [type=submit],
		.popup form .button {
			cursor: pointer;
			border: none;
			width: 100%;
			height: 35px;
			margin: 0 auto;
			display: block;
			text-align: center;
			background: #d3142b;
			color: #fff;
			text-decoration: none;
			padding: 10px;
			border-radius: 3px;
			display: flex;
			align-items: center;
			justify-content: center;
			box-sizing: border-box;
		}
		.popup form [type=submit]:hover,
		.popup form .button:hover {
			opacity: 0.9;
		}

@media screen and (max-width: 889px) {
	.promo .item .title {
		font-size: 50px;
	}
	.promo .item .text {
		font-size: 30px;
	}
}

@media screen and (max-width: 690px) {
	.promo .item .title {
		font-size: 30px;
	}
	.promo .item .text {
		font-size: 20px;
	}
}

@media screen and (max-width: 475px) {
	.promo .item .title {
		font-size: 20px;
	}
	.promo .item .text {
		font-size: 12px;
	}
}

@media screen and (max-width: 630px) {
	h3 {
		text-align: center;
		font-size: 25px;
	}
}

[href="#oplati"] {
	position: relative;
}
[href="#oplati"] > span {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	display: none;
}

.oplati-details,
.oplati-success,
.oplati-error {
	display: none;
}

.oplati-details-sum {
    font-size: 18px;
    font-weight: bold;
    margin-top: -16px;
    margin-bottom: 16px;
}

.footer {
	display: flex;
	justify-content: center;
	padding: 32px;
}

.footer img {
	max-width: 100%;
}